.form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.input {
  color: #59d576;
  padding: 10px;
  display: inline-flex;
  border: 1px solid #ffffff;
  border-radius: 5px;
  height: 38px;
  margin: 0px;
}

.button {
  background-color: transparent;
  display: inline-block;
  margin-left: 5px;
  padding: 8px;
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 5px;
  text-align: center;
  outline: white;
  text-decoration: none;
  font-size: 14px;
}
